.cartBoxBody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}


.allCartbox{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-left: 300px;
    margin-top: 20px;

}




.cartContainerP {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:40px; 
    background-color:#636057 ;
    width: fit-content;
    border-radius: 20px;

}

.cartImage{
    width: 80px;
    margin-right: 20px;

}


.priceC {
    margin-left: 30px;
    margin-right: 30px;
    border-left: 2px solid;
    padding-left: 20px;



}


.titulo {
    margin-bottom: 70px;

}


.priceContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #636057;
    width: 200px;
    height: 100px;
    margin-right: 300px;
    border-radius: 10px;



}


.trash {
    width: 30px;


}


@media (max-width: 600px){
    .cartBoxBody{
        flex-direction: column;
    }
    .allCartbox{
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .priceContainer{
        margin-right: 1.2vw;
    }
    .cartImage{
        width: 15vw;
    }
    .priceC{
        margin-left: 5.2vw;
    }
    .trash{
        width: 8vw;
    }


}