.lr-container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;

}

.regi-container{
    display: flex;
    flex-direction: column;
    background-color: #636057;
    padding: 10px;
    margin-left: 30%;
    text-align: center;


}

.login-container{
    display: flex;
    flex-direction: column;
    background-color: #636057;
    padding: 10px;
    margin-right: 30%;
    text-align: center;

}

#i1,#i2,#i3,#i4,#i5,#i6{
    margin: 10px;
}

.errorMessage{
font-size: 15px;
color:#b01212;
}